@import url(./__item/photo-grid__item.css);

.photo-grid {
	max-width: 1184px;
	display: grid;
	grid-template-columns: repeat(auto-fill, 284px);
	grid-template-rows: repeat(auto-fill, 213px);
	grid-gap: 16px;
	justify-content: center;
	margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
	.photo-grid {
		grid-template-columns: repeat(auto-fill, 300px);
		grid-template-rows: repeat(auto-fill, 225px);
	}
}

@media screen and (max-width: 932px) {
	.photo-grid {
		grid-template-columns: repeat(auto-fill, 352px);
		grid-template-rows: repeat(auto-fill, 264px);
		margin: 0 auto 90px;
	}
}

@media screen and (max-width: 768px) {
	.photo-grid {
		margin: 0 auto 88px;
	}
}

@media screen and (max-width: 720px) {
	.photo-grid {
		grid-template-columns: repeat(auto-fill, 300px);
		grid-template-rows: repeat(auto-fill, 225px);
		margin: 0 auto 86px;
	}
}

@media screen and (max-width: 616px) {
	.photo-grid {
		margin: 0 auto 80px;
	}
}

@media screen and (max-width: 320px) {
	.photo-grid {
		grid-template-columns: repeat(auto-fill, 288px);
		grid-template-rows: repeat(auto-fill, 216px);
		grid-gap: 12px;
		margin: 0 auto 64px;
	}
}