@import url(./place/place.css);

.places {
	width: 77%;
	margin: 0 50px 8px auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

@media screen and (max-width: 1024px) {
	.places {
		margin: 0 48px 92px;
		width: 91%;
	}
}

@media screen and (max-width: 768px) {
	.places {
		margin: 0 24px 88px;
		max-width: 720px;
		width: 100%;
	}
}

@media screen and (max-width: 320px) {
	.places {
		margin: 0 0 64px;
		width: 100%;
	}
}