.places {
	max-width: 984px;
	width: 100%;
	margin: 0 auto 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
	.places {
		margin: 0 auto 92px;
		max-width: 928px;
	}
}

@media screen and (max-width: 963px) {
	.places {
		margin: 0 auto 90px;
		max-width: 920px;
	}
}

@media screen and (max-width: 830px) {
	.places {
		max-width: 769px;
	}
}


@media screen and (max-width: 768px) {
	.places {
		margin: 0 auto 88px;
		max-width: 720px;
	}
}

@media screen and (max-width: 720px) {
	.places {
		margin: 0 auto 76px;
		max-width: 700px;
	}
}

@media screen and (max-width: 320px) {
	.places {
		margin: 0 0 64px;
		max-width: 320px;
	}
}