body {
	background: #2A2C2F;
}

.page {
	
	/*height: 10226px;*/
	color: #FFFFFF;

	min-width: 1100px; 
	/* мы ещё не умеем делать мобильную версию сайта, */ 
	/* поэтому выше установлена минимальная ширина страницы */ 
	max-width: 1600px; 
	/* выше установили ограничение по максимальной ширине */ 
	margin: 0 auto; 
	/* выше для экранов больше 1600px отцентрировали весь контент */ 
}

.header {
	width: 985px;
	height: 950px;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	/*left: 147px;
top: 130px;*/
}

.header__logo {
	width: 176.58px;
	height: 52px;
	/*left: 48px;
top: 30px;
	background: #FFFFFF;*/
}

.header__lang {
	width: 30px;
	height: 23px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 23px;
text-align: right;
text-decoration: none;
list-style: none;
display: flex;
margin: 0;
padding: 0;
}

.header__lang-Ru {
	text-decoration-line: underline;
	text-decoration: none;
	list-style: none;
	/*left: 1154px;
top: 47px;*/
}

.header__lang-En {
	list-style: none;
	text-decoration: none;
	/*left: 1202px;

	top: 47px;*/
}

.lead {
	/*width: 985px;
	height: 950px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
/*left: 147px;
top: 130px;*/
}

.lead__title {
	width: 782px;
height: 184px;
/*left: 250px;
top: 130px;*/

font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 93px;
text-align: center;

color: #FFFFFF;
}

.lead__subtitle {
	width: 583px;
height: 72px;
/*left: 349px;
top: 362px;*/

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #FFFFFF;
}

.lead__image {
	width: 984px;
height: 554.13px;
/*left: 148px;
top: 505px;*/
}

.lead__caption {
	width: 636px;
height: 10px;
/*left: 147px;
top: 1070px;*/

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
letter-spacing: 0.15em;
text-transform: uppercase;

color: #FFFFFF;
}


