.footer__link {
	font-size: 16px;
	line-height: 112%;
	color: #FFFFFF;
	list-style: none;
	text-decoration: none;
	margin-right: 18px;
}

.footer__link:hover {
	transition: 0.3s linear;
	opacity: .3;
}

@media screen and (max-width: 470px) {
	.footer__link{
		width: 100%;
		font-size: 24px;
		line-height: 100%;
		margin-bottom: 32px;
	}
}

@media screen and (max-width: 320px) {
	.footer__link{
		width: 100%;
		font-size: 24px;
		line-height: 100%;
		margin-bottom: 32px;
	}
}


