.place__paragraph {
	max-width: 484px;
	width: 100%;
	margin: 0 0 24px;
}

.place__paragraph:last-of-type {
	margin: 0;
}

@media screen and (max-width: 768px) {
	.place__paragraph {
		max-width: 370px;
	}
}

@media screen and (max-width: 320px) {
	.place__paragraph {
		max-width: 288px;
	}
}