@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);

.intro {
	width: 77%;
	margin: 0 auto 92px;
}

@media screen and (max-width: 768px) {
	.intro {
		max-width: 720px;
		width: 95%;
		margin: 0 auto 64px;
	}
}

@media screen and (max-width: 320px) {
	.intro {
		max-width: 288px;
		width: 100%;
		margin: 0 16 88px;
	}
}