.place__link {
	max-width: 456px;
	width: 100%;
	font-size: 18px;
	line-height: 122%;
	text-decoration-line: underline;
	color: #FFFFFF;
	transition: 0.3s linear;
}

.place__link:hover {
	opacity: .8;
}

@media screen and (max-width: 768px) {
	.place__link {
		max-width: 352px;
	}
}


