.place__link {
	width: 456px;
	height: 22px;
	font-size: 18px;
	line-height: 22px;
	text-decoration-line: underline;
	color: #FFFFFF;
}

.place__link:hover {
	opacity: .3;
	transition: 0.3s linear;
}

@media screen and (max-width: 768px) {
	.place__link {
		max-width: 352px;
	}
}


