.place__article {
	font-size: 18px;
	font-weight: normal;
	line-height: 167%;
	margin: 0;
	max-width: 484px;
	width: 100%;
}

@media screen and (max-width: 1024px) {
	.place__article {
		max-width: 456px;
	}
}

@media screen and (max-width: 768px) {
	.place__article {
		max-width: 352px;
		line-height: 162%;
		font-size: 16px;
	}
}

@media screen and (max-width: 320px) {
	.place__article {
		font-size: 16px;
		line-height: 162%;
		padding: 0 16px;
		max-width: 288px;
	}
}
