@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);


.footer {
	margin: 0 48px 24px;
	max-width: 1184px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 744px) {
	.footer {
		margin: 0 118px 24px 16px;
		flex-direction: column;
		align-items: flex-start;
	}
}